@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb.woff2');
    font-style: normal;
}
@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb_Medium.woff2');
    font-weight: 300;
}
@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb_Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?o8855e');
    src:  url('../fonts/icomoon.eot?o8855e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o8855e') format('truetype'),
    url('../fonts/icomoon.woff?o8855e') format('woff'),
    url('../fonts/icomoon.svg?o8855e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e942";
}
.icon-cross:before {
    content: "\ea0f";
}
html{
    font-size: 16px;
}

body{
    font-family: iransans, serif;
}
.navbar{
    background-color:#033e76;
    padding: 0 12rem;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    width: 70%;
}
.phone{
    color: #fff;
}
.phone i{
    font-size: 0.9rem;
    padding-right: 0.4rem;
    transition: 0.5s all ease;
}
.phone a{
    color: #ffffff;
    transition: 0.5s all ease;
    letter-spacing: 0.15rem;
    font-size: 1.2rem;
}
.phone a:hover{
    color:rgba(255,255,255,.75);
    text-decoration: none;
}
.alert-web{
    display: none;
    text-align: center;
    height: 0;
    padding: 0;
    background-color: #dc3545;
    border-bottom: 0;
    position: relative;
    transition: 0.5s all ease;
    color: #ffffff;
    opacity: 0;
}
.alert-web.current{
    height: 3.5rem;
    border-bottom: 7px solid #ad0f1e;
    padding: 1rem 0;
    opacity:1;
}
.alert-web i{
    padding: 0.5rem;
    position: absolute;
    left: 6rem;
    font-size: 0.8rem;
    top: 0.7rem;
    cursor: pointer;
    opacity: 0.5;
}
.alert-web i:hover {
    opacity: 1;
    transition: 0.3s all ease;
}
.nav-link{
    transition: 0.3s all ease;
}
.menu-user{
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    background-color: #235990;
    border-radius: 1rem;
    margin-right: 2rem;
    color: #fff;
    font-size: 0.6rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s all ease;
}
.menu-user span{
    font-size: 0.8rem;
}
.menu-user:hover{
    background-color: #29629c;
}
.menu-user i{
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    font-size: 1rem;
}
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.menu-list{
    position: absolute;
    top: 2.8rem;
    width: 10rem;
    right: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    color: #033e76;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    opacity: 0;
}
.menu-list ul{
    padding: 0;
    margin: 0;
}
.menu-list li{
    line-height: 3;
    list-style: none;
    padding: 0;
    transition: 0.2s all ease;
}
.menu-list li:hover{
    background-color: #ede9e9;
}
.menu-list.active {
    -webkit-animation: animUp 0.5s ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes animUp {
    0% {
        -webkit-transform: translateY(+50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

  /*subherader*/

.subheader .content{
    padding: 0 10rem;
    width: 100%;
    height: 36rem;
    /*margin-top: 9rem;*/
    background: url("../img/bg-section.jpg");
    filter: blur(1px) brightness(60%) contrast(120%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.subheader {
    position: relative;
    margin-top: 5.4rem;
}
.subheader::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 112px;
    left: 0;
    bottom: -2px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 79%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(79%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}
.text-item{
    position: absolute;
    color: #ffffff;
    width: 100%;
    top: 6rem;
}
.subheader .row{
    margin: 0;
}
.title-section{
    margin-right: 10rem;
    margin-top: 7rem;
}
.title-section h1{
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.87);
}
.title-section p{
    line-height: 2;
}
.title-section a{
    padding: 0.1rem 2rem;
    background: #ffb200;
    color: #033e76;
    border-radius: 100px;
    transition: 0.2s all ease;
}
.title-section a:hover{
    text-decoration: none;
    background: #bc7d00;
}
.section-from {
    width: 30rem;
    background-color: #fff;
    height: 24rem;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.title-form{
    text-align: center;
    color: #033e76;
    padding: 2rem 0 1rem 0;
    font-weight: bold;
    font-size: 1.3rem;
}
.section-from p{
    text-align: center;
    color: #9f9f9f;
}
.section-from form {
    color: #1d2124;
    margin-top: 2rem;
}
.section-from label{
    text-align: left;
}
.section-from .form-control{
    border-radius: 10px;
}
.btn-submit{
    text-align: left;
}
.forget-pass-link{
    color: #5e5d5d;
    font-size: 0.8rem;
    transition: 0.2s all ease;
}
.forget-pass-link:hover {
    text-decoration: none;
}
.new-user-link{
    color: #aa7802;
    transition: 0.2s all ease;
}
.new-user-link:hover {
    text-decoration: none;
}
/*section product*/

.product{
    padding-top: 3rem;
}
.linerup {
    width: 9rem;
    height: 0.5rem;
    margin: 0 auto;
    background-color: #033e76;
    border-radius: 100px;
}
.product h2{
      text-align: center;
      padding: 1rem;
      font-weight: bold;
      color: #ffb200;
}
.product p{
    text-align: center;
    color: #033e76;
}

.nav-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
}
.nav-tabs li{
    padding: 0.3rem 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid #8c8b8b;
    transition: 0.2s all ease;
}
.nav-tabs li.active{
    border-bottom: 2px solid #033e76;
}
.nav-tabs li a{
    color: #8c8b8b;
    transition: 0.5s all ease;

}
.nav-tabs li a.show{
    color: #033e76;
}
.nav-tabs li a.show:hover{
    color: #033e76;
}
.nav-tabs li a:hover{
    text-decoration: none;
    color:#033e76
}
.nav-tabs li a img{
    display: inline-block;
    padding: 0.3rem 0rem 0.3rem 0.5rem;
}
.nav-tabs li:hover{
    border-bottom: 2px solid #033e76;
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

}


/*media query*/

@media only screen and (max-width: 1400px) {
    html {
        font-size: 13px;
    }
}